//Color-Variable
$white: #fff;
$black: #000;
$red: #ff0000;
$blue: #442cb8;
$purple: #8c00ff;
$yellow: #ff9700;
$dyellow: #f06c00;
$lgtblack: #2f2f2f;
$gray: #e5e5e5;
$dgray: #65605c;
$adv: #c7c7c7;
$adv3: #969696;
$p-graph: #868686;
$lgtwhite: #fafafa;
$line: #cccccc;
$input-bg: #f4f0ec;

$fontPath: '../fonts';
